* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

#dark-mode {
  position: absolute;
    top: 10px;
    right: 10px;
    background: darkolivegreen;
    border: solid 2px #333;
    border-radius: 5px;
    color: #333;
    font-size: 1rem;
    cursor: pointer;

}

.choices {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.choice {
    background: white;
    border: 2px solid #333;
    padding: 15px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.choice:hover {
    background: #e8e8e8;
    transform: scale(1.05);
}

.status {
    font-size: 1.1rem;
    margin-top: 20px;
}

.status span {
    font-weight: bold;
    color: #0077cc;
}

.score {
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px 10px 10px 20px;
  margin: 20px auto;
  width: 200px;
  gap: 10px;
}
